* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.button {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px; 

    &:hover:before{
        opacity: 1;
        filter: blur(20px);
        animation: animate 8s linear infinite;
    }

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 40px;
        opacity: 0;
        transition: .5s;
    }

    &:hover {
        animation: animate 8s linear infinite;
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}