.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fbfcfc;
    transition: .5s;
}

.preloader-active {
    overflow-y: hidden;
}


@keyframes animateLoader {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        z-index: -10000;
    }
}

.loader {
    position: relative;
    width: 80px;
    height: 80px;

    @media screen and (max-width: 800px) {
        width: 60px;
        height: 60px;
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(calc(18deg * var(--i)));
    }
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(46, 45, 45);
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));

    @media screen and (max-width: 800px) {
        width: 5px;
        height: 5px;
    }
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0);
    }
}