@import "__common-style";
@import "__loader";

body {
    height: 100vh;
}

.wrapperr {}

.conteiner {
    height: 100%;
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
    padding: 0px 30px 30px 30px;
}

.sites {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1100px) {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.site {
    position: relative;
    margin-top: 40px;
    width: 48%;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.46);
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @media screen and (max-width: 1400px) {
        height: 350px;
    }

    @media screen and (max-width: 1100px) {
        width: 90%;
        height: 450px;
        margin-bottom: 0;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    @media screen and (max-width: 700px) {
        height: 350px;
    }

    @media screen and (max-width: 500px) {
        height: 270px;
    }


    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 5px;
        transition: .5s;
    }

    &__mode {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        transition: .5s;
    }

    &__title {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
        font-family: 'Bitter', serif;
        font-weight: 700;
        font-size: 34px;
        letter-spacing: 2px;
        color: rgb(226, 224, 224);
        opacity: 0;
        transition: opacity .5s;
    }

    &__icon-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 5px;
        z-index: 20;
        opacity: 0;
        transition: .5s;
    }

    &__icon-item {}

    &__icon-img {
        width: 44px;
        height: 44px;
    }

    &:hover &__icon-list {
        opacity: 1;
    }

    &:hover &__title {
        opacity: 1;
    }

    &:hover &__mode {
        background-color: rgba(11, 11, 11, 0.3);
    }

    &:hover &__img {
        transform: scale(0.9);
        box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.46);
    }
}


.effects {
    width: 100%;
    //padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    @media screen and (max-width: 1100px) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

// -------------------------------------scroll bar-------------------------------------

/* width */
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}