$h1-color: #fff;
$h2-color: #000;

$text-color-one: #fff;
$text-color-two-light: #222328;
$text-color-two-dark: #2f3135;

$button-bg-light: #fefefe;
$button-color-light-text: #2e3034;
$button-bg-dark: #343434;
$button-color-dark-text: #fff;


$title-font: "Reey";
$primary-font: "Open Sans";