* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
}

h2 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
    user-select: none;
    cursor: none;

    @media screen and (max-width: 1000px) {
        text-align: center;
    }

    @media screen and (max-width: 700px) {
        font-size: 50px;
    }
}

.cursor {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(247, 244, 244, 0.75),
        inset 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    transition: .1s;
    transform: translate(-50%, -50%);
    cursor: none;
    pointer-events: none;
    background: #fff;
    mix-blend-mode: difference;
}

h2:hover~.cursor {
    width: 50px;
    height: 50px;
}